body{
  background-color: #154360;
  color: #CACFD2  ;
}
h1{
  text-align: center;
  color: black;
}
.slogan {
  text-align: center;
  color: black;
}
#news {
  border: solid rgb(150, 144, 144) 2px;
  
}
.col-md-6 {  
  height: auto;
  text-align: center;
}
.p{
  text-align: right;
}
#image{
  width: 350px;
  height: 220px;
  background-size: contain;
}