<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> News Updates </title>
        {% endif %}
    </head>
    <!-- <body>
      <h1>Hello world 2</h1>
      <h3>News sources</h3>
      <ul>
        {%for source in sources%}
          <h4>{{source.name}}</h4>           
          <!-- <a href="/search/{{source.url}}"> -->
          <li>{{source.description}}</li></a>
          <a href="{{source.url}}"><li>{{source.url}}</li></a>
          <li>{{source.category}}</li>
        {%endfor%}
      </ul>      
    </body> -->
</html>