{% extends 'bootstrap/base.html'%}
{% block styles%}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/macros.css')}}" type="text/css">
{% endblock %}

{% macro displaySourceList(sources) %}
  {%for source in sources%}
  <div  class="col-md-4 " class="david" >
    <h4>{{source.name}}</h4>          
    <li>{{source.description}}</li></a>
    <p>For Articles <a href="/search/{{source.id}}">click here</a></p>
    <br>
  </div>
  {%endfor%}

{% endmacro %}

{% macro displayArticles(articles) %}
  
    {%for article in articles %}
    <div  class="col-md-6 " class="card" >
    <div id="news" >
      <h4><u><strong>{{article.title}}</strong></u></h4>  
      <li>{{article.author}}</li>   
      <p>{{article.content}}</p>
      <a href="{{article.publishedAt}}"><li>Read more</li></a>
      <span class="p"><p>  {{article.url}}</span></p>
      <br>
    </div> 
    </div>
    {%endfor%}
   
{% endmacro %}